nav {
  position: relative;
  display: flex;
  justify-content: center;
}

.navbar {
  padding: 1.6% 2.4%;
  line-height: 1.5;
}

body {
  padding: 20px;
}

.form-control {
  width: 100%;
}

.table {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .navbar {
    padding: 16px 24px;
  }
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-buttons {
  position: absolute;
  right: 0;
}

button.rounded {
  border-radius: 40px;
}
