<!DOCTYPE html>
<html lang="bs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kontakt</title>
</head>
<body>
<h2>Kontaktirajte nas</h2>
<p>Hvala vam što koristite našu aplikaciju za pretragu i usluge javnog prevoza. Ako imate bilo kakva pitanja, komentare ili prijedloge, slobodno nas kontaktirajte. Naš tim je ovdje kako bi vam pomogao.</p>
<p>Općenito, možete nas kontaktirati putem sljedećih kanala:<br><br>

  E-pošta:<br><br>

  Opće informacije: info@find-my-route.com<br>
  Korisnička podrška: support@find-my-route.com<br>
  Telefonski broj podrške: +XX XXX XXX XXXX (radno vrijeme podrške: od ponedjeljka do petka, od 9:00 do 17:00)<br><br>

  Obrazac za kontakt: Posjetite našu web stranicu na www.find-my-route.com/contact i ispunite obrazac za kontakt. Obratit ćemo vam se u najkraćem mogućem roku.<br><br>

  Društvene mreže: Možete nas pratiti i kontaktirati putem naših službenih stranica na društvenim mrežama:<br><br>

  Facebook: www.facebook.com/find-my-route<br>
  Twitter: www.twitter.com/find-my-route<br>
  Instagram: www.instagram.com/find-my-route</p>
<p>Ako imate hitne probleme ili pitanja vezana uz vašu rezervaciju, molimo vas da nas kontaktirate telefonom kako bismo vam pružili bržu podršku.</p>
<p>Hvala vam što koristite našu aplikaciju i radujemo se vašem kontaktu!</p>
<p>Srdačan pozdrav, <br>
  Tim Find My Route</p>
</body>
</html>
