<!DOCTYPE html>
<html lang="bs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kontakt</title>
  <link rel="stylesheet" href="kontakt.component.css">
</head>
<body>
<div class="container">
  <h2>Kontaktirajte nas</h2>
  <p>Hvala vam što koristite našu aplikaciju za pretragu i usluge javnog prevoza. Ako imate bilo kakva pitanja, komentare ili prijedloge, slobodno nas kontaktirajte. Naš tim je ovdje kako bi vam pomogao.</p>
  <p>Općenito, možete nas kontaktirati putem sljedećih kanala:</p>
  <p>E-pošta:</p>
  <ul>
    <li>Opće informacije: <a href="mailto:info@find-my-route.com">info@find-my-route.com</a></li>
    <li>Korisnička podrška: <a href="mailto:support@find-my-route.com">support@find-my-route.com</a></li>
  </ul>
  <p>Telefonski broj podrške: +XX XXX XXX XXXX (radno vrijeme podrške: od ponedjeljka do petka, od 9:00 do 17:00)</p>
  <p>Obrazac za kontakt: Posjetite našu web stranicu na <a href="http://www.find-my-route.com/contact">www.find-my-route.com/contact</a> i ispunite obrazac za kontakt. Obratit ćemo vam se u najkraćem mogućem roku.</p>
  <p>Društvene mreže: Možete nas pratiti i kontaktirati putem naših službenih stranica na društvenim mrežama:</p>
  <ul>
    <li>Facebook: <a href="http://www.facebook.com/find-my-route">www.facebook.com/find-my-route</a></li>
    <li>Twitter: <a href="http://www.twitter.com/find-my-route">www.twitter.com/find-my-route</a></li>
    <li>Instagram: <a href="http://www.instagram.com/find-my-route">www.instagram.com/find-my-route</a></li>
  </ul>
  <p>Ako imate hitne probleme ili pitanja vezana uz vašu rezervaciju, molimo vas da nas kontaktirate telefonom kako bismo vam pružili bržu podršku.</p>
  <p>Hvala vam što koristite našu aplikaciju i radujemo se vašem kontaktu!</p>
  <p>Srdačan pozdrav, <br>Tim Find My Route</p>
</div>
</body>
</html>
