<div class="d-flex justify-content-center">
  <div class="mb-3 row">
    <div class="col-sm-3 text-end align-self-center">
      <label for="txtKorisnickoIme" class="col-form-label">Korisnicko ime:</label>
    </div>
    <div class="col-sm-6">
      <input id="txtKorisnickoIme" [(ngModel)]="txtKorisnickoIme" class="form-control" style="max-width: 25rem;">
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-3 text-end align-self-center">
      <label for="txtLozinka" class="col-form-label">Lozinka:</label>
    </div>
    <div class="col-sm-6">
      <input id="txtLozinka" [(ngModel)]="txtLozinka" class="form-control" type="password" style="max-width: 25rem;">
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-primary" (click)="btnLogin()">Logiraj se</button>
    <br>
    <a>Nemate korisnički račun?</a> <a routerLink="/registracija"> Registrirajte se!</a>
  </div>
</div>
