<div *ngIf="this.id == 0" class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header text-center">
          <h3 class="mb-0">Povezivanje kreditne kartice</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="txtTip" class="form-label">Tip kartice</label>
              <select name="txtTip" id="txtTip" [(ngModel)]="txtTip" class="form-control">
                <option value="" disabled selected>Odaberite tip kartice</option>
                <option value="Visa">Visa</option>
                <option value="MasterCard">MasterCard</option>
                <option value="Maestro">Maestro</option>
                <option value="American Express">American Express</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="txtBroj1" class="form-label">Broj kartice</label>
              <div class="input-group">
                <input name="txtBroj1" id="txtBroj1" [(ngModel)]="txtBroj1" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj2" id="txtBroj2" [(ngModel)]="txtBroj2" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj3" id="txtBroj3" [(ngModel)]="txtBroj3" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj4" id="txtBroj4" [(ngModel)]="txtBroj4" class="form-control" type="text" maxlength="4">
              </div>
            </div>
            <div class="mb-3">
              <label for="txtDatum1" class="form-label">Datum isteka</label>
              <div class="input-group">
                <input name="txtDatum1" id="txtDatum1" [(ngModel)]="txtDatum1" class="form-control" type="text" maxlength="2">
                <span class="input-group-text">/</span>
                <input name="txtDatum2" id="txtDatum2" [(ngModel)]="txtDatum2" class="form-control" type="text" maxlength="2">
              </div>
            </div>
            <div class="mb-3">
              <label for="txtSigBroj" class="form-label">Sigurnosni broj</label>
              <input name="txtSigBroj" id="txtSigBroj" [(ngModel)]="txtSigBroj" class="form-control" style="-webkit-text-security: disc;" maxlength="3">
            </div>
            <button class="btn btn-primary w-100 mt-3" (click)="btnPovezi()">Poveži</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button class="help-button" (click)="PrikaziHelp()">?</button>
</div>

<div *ngIf="this.id != 0" class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-header text-center">
          <h3 class="mb-0">Uređivanje podataka kreditne kartice</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="txtTip" class="form-label">Novi tip kartice</label>
              <select name="txtTipEdit" id="txtTipEdit" [(ngModel)]="txtTipEdit" class="form-control">
                <option value="" disabled selected>Odaberite novi tip kartice</option>
                <option value="Visa">Visa</option>
                <option value="MasterCard">MasterCard</option>
                <option value="Maestro">Maestro</option>
                <option value="American Express">American Express</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="txtBroj1" class="form-label">Novi broj kartice</label>
              <div class="input-group">
                <input name="txtBroj1Edit" id="txtBroj1Edit" [(ngModel)]="txtBroj1Edit" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj2Edit" id="txtBroj2Edit" [(ngModel)]="txtBroj2Edit" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj3Edit" id="txtBroj3Edit" [(ngModel)]="txtBroj3Edit" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj4Edit" id="txtBroj4Edit" [(ngModel)]="txtBroj4Edit" class="form-control" type="text" maxlength="4">
              </div>
            </div>
            <div class="mb-3">
              <label for="txtDatum1" class="form-label">Novi datum isteka</label>
              <div class="input-group">
                <input name="txtDatum1Edit" id="txtDatum1Edit" [(ngModel)]="txtDatum1Edit" class="form-control" type="text" maxlength="2">
                <span class="input-group-text">/</span>
                <input name="txtDatum2Edit" id="txtDatum2Edit" [(ngModel)]="txtDatum2Edit" class="form-control" type="text" maxlength="2">
              </div>
            </div>
            <div class="mb-3">
              <label for="txtSigBrojEdit" class="form-label">Novi sigurnosni broj</label>
              <input name="txtSigBrojEdit" id="txtSigBrojEdit" [(ngModel)]="txtSigBrojEdit" class="form-control" style="-webkit-text-security: disc;" maxlength="3">
            </div>
            <div class="mb-3">
            <label for="txtSigBrojTrenutni" class="form-label">Potvrdite trenutni sigurnosni broj</label>
            <input name="txtSigBrojTrenutni" id="txtSigBrojTrenutni" [(ngModel)]="txtSigBrojTrenutni" class="form-control" style="-webkit-text-security: disc;" maxlength="3">
            </div>
            <p class="card-text" style="font-weight: bold">Napomena:</p>
            <p class="card-text">Popunite samo one podatke koje želite urediti.</p>
            <button class="btn btn-primary w-100 mt-3" (click)="btnEdit()">Spremi promjene</button>
            <button class="btn btn-secondary w-100 mt-3" routerLink="/korisnickiRacun">Odustani</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button class="help-button" (click)="PrikaziHelp2()">?</button>
</div>
