<div class="container mt-5">
  <h2 class="mb-3">Detalji kupovine</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Linija 1</h5>
          <p class="card-text">{{this.linijaPodaci1.grad1}} - {{this.linijaPodaci1.grad2}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Prevoznik</h5>
          <img (click)="Prevoznik(this.linijaPodaci1.prevoznik.id)" style="width: 18%; height: 18%; border-radius: 10%; cursor: pointer;" src="{{prevoznikLogo1}}">
          <p (click)="Prevoznik(this.linijaPodaci1.prevoznik.id)" class="card-text nav-link" style="cursor: pointer; padding-left: 0; padding-top: 0;">{{this.linijaPodaci1.prevoznik.naziv}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Cijena</h5>
          <p class="card-text">{{this.linijaPodaci1.cijena}} KM</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Linija 2</h5>
          <p class="card-text">{{this.linijaPodaci2.grad1}} - {{this.linijaPodaci2.grad2}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Prevoznik</h5>
          <img (click)="Prevoznik(this.linijaPodaci2.prevoznik.id)" style="width: 18%; height: 18%; border-radius: 10%; cursor: pointer;" src="{{prevoznikLogo2}}">
          <p (click)="Prevoznik(this.linijaPodaci2.prevoznik.id)" class="card-text nav-link" style="cursor: pointer; padding-left: 0; padding-top: 0;">{{this.linijaPodaci2.prevoznik.naziv}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Cijena</h5>
          <p class="card-text">{{this.linijaPodaci2.cijena}} KM</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="mb-3">Ukupno: </h2>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Dan vožnje</h5>
          <p class="card-text">Dostupni dani za obje linije:</p>
          <ul>
            <li *ngIf="this.linijaPodaci1.daniVoznje.ponedjeljak && this.linijaPodaci2.daniVoznje.ponedjeljak">Ponedjeljak</li>
            <li *ngIf="this.linijaPodaci1.daniVoznje.utorak && this.linijaPodaci2.daniVoznje.utorak">Utorak</li>
            <li *ngIf="this.linijaPodaci1.daniVoznje.srijeda && this.linijaPodaci2.daniVoznje.srijeda">Srijeda</li>
            <li *ngIf="this.linijaPodaci1.daniVoznje.cetvrtak && this.linijaPodaci2.daniVoznje.cetvrtak">Četvrtak</li>
            <li *ngIf="this.linijaPodaci1.daniVoznje.petak && this.linijaPodaci2.daniVoznje.petak">Petak</li>
            <li *ngIf="this.linijaPodaci1.daniVoznje.subota && this.linijaPodaci2.daniVoznje.subota">Subota</li>
            <li *ngIf="this.linijaPodaci1.daniVoznje.nedjelja && this.linijaPodaci2.daniVoznje.nedjelja">Nedjelja</li>
          </ul>
          <input
            id="datum"
            placeholder="Odaberite datum"
            type="date"
            class ="bs-datepicker"
            #datepicker
            (change)="onDateSelection(datepicker.value)"
          >
          <p class="card-text" *ngIf="isInvalidDate" style="color: red">Odaberite jedan od dana kada voze obe linije!</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Količina</h5>
          <div class="d-flex align-items-center">
            <input style="width: 25%; margin-right: 10px" name="txtKolicina" id="txtKolicina" [(ngModel)]="txtKolicina" class="form-control" type="number" min="1" max="10" placeholder="Broj karata">
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Ukupna cijena</h5>
          <p class="card-text">{{(this.linijaPodaci1.cijena + this.linijaPodaci2.cijena) * txtKolicina}} KM</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Plaćanje</h5>
          <label for="txtNacinPlacanja" class="form-label">Način plaćanja</label>
          <select name="txtNacinPlacanja" id="txtNacinPlacanja" [(ngModel)]="txtNacinPlacanja" class="form-control">
            <option value="" disabled selected>Odaberite način plaćanja</option>
            <option *ngIf="loginInfo().autentifikacijaToken.korisnickiNalog.posjedujeKreditnu" value="1">Povezana {{this.kreditnaPodaci.tipKartice}} kreditna kartica</option>
            <option *ngIf="loginInfo().autentifikacijaToken.korisnickiNalog.posjedujeKreditnu" value="2">Druga kreditna kartica</option>
            <option *ngIf="!loginInfo().autentifikacijaToken.korisnickiNalog.posjedujeKreditnu" value="2">Kreditna kartica</option>
            <option value="3">PayPal</option>
          </select>
          <div *ngIf="txtNacinPlacanja == '1'" class="mb-3" style="margin-top: 10px">
            <label for="txtSigBrojPotvrdi" class="form-label">Sigurnosni broj kartice</label>
            <input name="txtSigBrojPotvrdi" id="txtSigBrojPotvrdi" [(ngModel)]="txtSigBrojPotvrdi" class="form-control" style="-webkit-text-security: disc; width: 70px" maxlength="3">
            <button class="btn btn-outline-primary" (click)="btnPlatiPovezanom()" style="margin-top: 10px">Plati</button>
          </div>
          <div *ngIf="txtNacinPlacanja == '3'" class="mb-3" style="margin-top: 10px">
            <label for="txtPayPalMail" class="form-label">PayPal email adresa</label>
            <input name="txtPayPalMail" id="txtPayPalMail" [(ngModel)]="txtPayPalMail" class="form-control" style="width: 200px">
            <button class="btn btn-outline-primary" (click)="btnPlatiPayPal()" style="margin-top: 10px">Plati</button>
          </div>
        </div>
        <div *ngIf="txtNacinPlacanja == '2'" class="card-body">
          <form>
            <div class="mb-3">
              <p style="font-weight: bold" class="card-text">Unesite podatke kreditne kartice</p>
              <label for="txtTip" class="form-label">Tip kartice</label>
              <select name="txtTip" id="txtTip" [(ngModel)]="txtTip" class="form-control">
                <option value="" disabled selected>Odaberite tip kartice</option>
                <option value="Visa">Visa</option>
                <option value="MasterCard">MasterCard</option>
                <option value="Maestro">Maestro</option>
                <option value="American Express">American Express</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="txtBroj1" class="form-label">Broj kartice</label>
              <div class="input-group">
                <input name="txtBroj1" id="txtBroj1" [(ngModel)]="txtBroj1" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj2" id="txtBroj2" [(ngModel)]="txtBroj2" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj3" id="txtBroj3" [(ngModel)]="txtBroj3" class="form-control" type="text" maxlength="4">
                <span class="input-group-text">-</span>
                <input name="txtBroj4" id="txtBroj4" [(ngModel)]="txtBroj4" class="form-control" type="text" maxlength="4">
              </div>
            </div>
            <div class="mb-3">
              <label for="txtDatum1" class="form-label">Datum isteka</label>
              <div class="input-group">
                <input name="txtDatum1" id="txtDatum1" [(ngModel)]="txtDatum1" class="form-control" type="text" maxlength="2">
                <span class="input-group-text">/</span>
                <input name="txtDatum2" id="txtDatum2" [(ngModel)]="txtDatum2" class="form-control" type="text" maxlength="2">
              </div>
            </div>
            <div class="mb-3">
              <label for="txtSigBroj" class="form-label">Sigurnosni broj</label>
              <input name="txtSigBroj" id="txtSigBroj" [(ngModel)]="txtSigBroj" class="form-control" style="-webkit-text-security: disc;" maxlength="3">
            </div>
            <button class="btn btn-outline-primary" (click)="btnPlatiNovom(false)">Plati</button>
            <button style="margin-left: 10px" *ngIf="!loginInfo().autentifikacijaToken.korisnickiNalog.posjedujeKreditnu" class="btn btn-outline-primary" (click)="btnPlatiNovom(true)">Plati i poveži karticu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

