.help-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #5a5a8d;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
  margin: 0;
}
body {
  padding: 20px;
  background-color: #27273c;
  color: #fff;
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.card {
  background-color: #3a3a5c;
  color: #ffffff;
  border: 1px solid #5a5a8d;
  border-radius: 5px;
}

a {
  color: #bb86fc;
}

.card-title {
  color: #ffffff;
}

.form-control {
  background-color: #5a5a8d;
  color: #ffffff;
  border: 1px solid #5a5a8d;
}

.form-control:focus {
  background-color: #484875;
  border-color: #007bff;
  color: #fff;
}

.form-control#txtNacinPlacanja, .form-control#txtTip {
  background-color: #5a5a8d;
  color: #cccccc;
  border: 1px solid #5a5a8d;
}

input#datum {
  background-color: #5a5a8d;
  color: #cccccc;
  border: 1px solid #5a5a8d;
}

.btn.btn-primary {
  background-color: #5a5a8d;
  border-color: #5a5a8d;
}

.btn.btn-primary:hover {
  background-color: #3f3f66;
  border-color: #3f3f66;
}

.card-text.nav-link {
  color: #fff;
}

.card-text.nav-link:hover {
  color: #a0a0a0;
}

.input-group-text {
  background-color: #3a3a5c;
  color: #fff;
  border: none; 
}