<div class="justify-content-center align-items-center">
  <div class="col-sm-12">
    <table class="table table-striped table-hover" *ngIf="historijaKupovine.length > 0; else nemaRez">
      <thead>
      <tr>
        <th scope="col">Polazište</th>
        <th scope="col">Destinacija</th>
        <th scope="col">Prevoznik</th>
        <th scope="col">Datum vožnje</th>
        <th scope="col">Ukupna cijena</th>
        <th scope="col">Način plaćanja</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="historijaKupovine.length > 0; else nemaRez">
        <tr *ngFor="let l of historijaKupovine">
          <td>{{l.linija.grad1}}</td>
          <td>{{l.linija.grad2}}</td>
          <td>{{l.linija.prevoznik.naziv}}</td>
          <td>{{formatirajDatum(l.datumVoznje)}}</td>
          <td>{{l.ukupnaCijena}} KM</td>
          <td *ngIf="l.kreditnaKartica != null">{{l.kreditnaKartica.tipKartice}}</td>
          <td *ngIf="l.payPalEmail != null">PayPal: {{l.payPalEmail}}</td>
          <td><button class="btn btn-outline-secondary btn-sm" (click)="GetDetaljiLinije(l)">Detalji linije</button>
          <td><button class="btn btn-outline-secondary btn-sm" (click)="GetDetaljiKupovine(l)">Detalji kupovine</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <button class="help-button" (click)="PrikaziHelp()">?</button>
</div>
<ng-template #nemaRez>
  <div class="justify-content-center align-items-center">
    <div class="col-sm-12">
      <h5 class="text-center">Historija kupovine je prazna.</h5>
    </div>
  </div>
</ng-template>
