<br> <h3 style="font-weight: bold">Detalji linije</h3>
<div>
  <h5>Polazište: {{this.linijaPodaci.grad1}}</h5>
  <h5>Presjedanje: {{this.linijaPodaci.presjedanje}}</h5>
  <h5>Destinacija: {{this.linijaPodaci.grad2}}</h5>
  <h5>Prevoznik: {{this.linijaPodaci.prevoznik.naziv}}</h5>
  <h5>Datum: {{this.linijaPodaci.datumVrijeme}}</h5>
  <h5>Kilometraža: {{this.linijaPodaci.kilometraza}}km</h5>
  <h5>Trajanje: {{this.linijaPodaci.trajanje}}min</h5>
  <h5>Cijena: {{this.linijaPodaci.cijena}}KM</h5>
</div>
