<!DOCTYPE html>
<html>
<head>
  <title>Korisnički račun</title>
  <link rel="stylesheet" type="text/css" href="korisnickiRacun.component.css">
  <link rel="stylesheet" type="text/css" href="korisnickiRacun.component.css">
</head>
<body>
<div class="container">
  <h2 class="heading">Detalji korisničkog računa</h2>
  <div class="details">
    <div class="detail-row">
      <label class="detail-label">Ime:</label>
      <div class="detail-value">
        <span id="ime">{{racunPodaci?.ime}}</span>
        <span (click)="promjenaImena == false ? promjenaImena = true : promjenaImena = false" class="btn btn-primary form-control">Uredi</span>
      </div>
    </div>
    <div class="detail-row">
      <label class="detail-label">Prezime:</label>
      <div class="detail-value">
        <span id="prezime">{{racunPodaci?.prezime}}</span>
        <span (click)="promjenaPrezimena == false ? promjenaPrezimena = true : promjenaPrezimena = false" class="btn btn-primary form-control">Uredi</span>
      </div>
    </div>
    <div class="detail-row">
      <label class="detail-label">Email:</label>
      <div class="detail-value">
        <span id="email">{{racunPodaci?.email}}</span>
        <span (click)="promjenaEmaila == false ? promjenaEmaila = true : promjenaEmaila = false" class="btn btn-primary form-control">Uredi</span>
      </div>
    </div>
    <div class="detail-row">
      <label class="detail-label">Korisničko ime:</label>
      <div class="detail-value">
        <span id="korisnicko-ime">{{racunPodaci?.korisnickoIme}}</span>
        <span (click)="promjenaKorisnickog == false ? promjenaKorisnickog = true : promjenaKorisnickog = false" class="btn btn-primary form-control">Uredi</span>
      </div>
    </div>
    <div class="detail-row">
      <label class="detail-label">Adresa:</label>
      <div class="detail-value">
        <span id="adresa">{{racunPodaci?.adresa}}</span>
        <span (click)="promjenaAdrese == false ? promjenaAdrese = true : promjenaAdrese = false" class="btn btn-primary form-control">Uredi</span>
      </div>
    </div>
    <div class="detail-row">
      <label class="detail-label">Broj telefona:</label>
      <div class="detail-value">
        <span id="broj-telefona">{{racunPodaci?.brojTelefona}}</span>
        <span (click)="promjenaBroja == false ? promjenaBroja = true : promjenaBroja = false" class="btn btn-primary form-control">Uredi</span>
      </div>
    </div>
    <div class="detail-row">
      <label class="detail-label">Lozinka:</label>
      <div class="detail-value">
        <span id="lozinka">**********</span>
        <span (click)="promjenaLozinke == false ? promjenaLozinke = true : promjenaLozinke = false" class="btn btn-primary form-control">Uredi</span>
      </div>
    </div>
    <div *ngIf="!this.loginInfo().autentifikacijaToken.korisnickiNalog.posjedujeKreditnu" class="detail-row">
      <label class="detail-label">Kreditna kartica:</label>
      <div class="detail-value">
        <span class="btn btn-primary form-control" (click)="this.btnKreditna(0)">Poveži</span>
      </div>
    </div>
    <div *ngIf="this.loginInfo().autentifikacijaToken.korisnickiNalog.posjedujeKreditnu" class="detail-row">
      <label class="detail-label">Kreditna kartica:</label>
      <div class="detail-value">
        <span id="kreditna-kartica">{{kreditnaPodaci?.tipKartice}}</span>
        <span class="btn btn-primary form-control" (click)="this.btnKreditna(kreditnaPodaci)">Uredi</span>
        <span class="btn btn-primary form-control" (click)="this.btnUkloniKarticu()">Ukloni</span>
      </div>
    </div>
  </div>
  <div *ngIf="promjenaImena == true">
    <h3 class="heading">Promijenite ime</h3>
    <form>
      <div class="form-row">
        <label for="novo-ime">Novo ime:</label>
        <input [(ngModel)]="txtNovoIme" type="text" id="novo-ime" name="novo-ime" required>
      </div>
      <div class="form-row">
        <button (click)="PromijeniIme()" class="btn btn-primary form-control">Promijenite ime</button>
      </div>
    </form>
  </div>
  <div *ngIf="promjenaPrezimena == true">
    <h3 class="heading">Promijenite prezime</h3>
    <form>
      <div class="form-row">
        <label for="novo-prezime">Novo prezime:</label>
        <input [(ngModel)]="txtNovoPrezime" type="text" id="novo-prezime" name="novo-prezime" required>
      </div>
      <div class="form-row">
        <button (click)="PromijeniPrezime()" class="btn btn-primary form-control">Promijenite prezime</button>
      </div>
    </form>
  </div>
  <div *ngIf="promjenaEmaila == true">
    <h3 class="heading">Promijenite email</h3>
    <form>
      <div class="form-row">
        <label for="novi-email">Novi email:</label>
        <input [(ngModel)]="txtNoviEmail" type="text" id="novi-email" name="novi-email" required>
      </div>
      <div class="form-row">
        <button (click)="PromijeniEmail()" class="btn btn-primary form-control">Promijenite email</button>
      </div>
    </form>
  </div>
  <div *ngIf="promjenaKorisnickog == true">
    <h3 class="heading">Promijenite korisničko ime</h3>
    <form>
      <div class="form-row">
        <label for="novo-korisnicko">Novo korisničko ime:</label>
        <input [(ngModel)]="txtNovoKorisnicko" type="text" id="novo-korisnicko" name="novo-korisnicko" required>
      </div>
      <div class="form-row">
        <button (click)="PromijeniKorisnickoIme()" class="btn btn-primary form-control">Promijenite korisničko ime</button>
      </div>
    </form>
  </div>
  <div *ngIf="promjenaAdrese == true">
    <h3 class="heading">Promijenite adresu</h3>
    <form>
      <div class="form-row">
        <label for="nova-adresa">Nova adresa:</label>
        <input [(ngModel)]="txtNovaAdresa" type="text" id="nova-adresa" name="nova-adresa" required>
      </div>
      <div class="form-row">
        <button (click)="PromijeniAdresu()" class="btn btn-primary form-control">Promijenite adresu</button>
      </div>
    </form>
  </div>
  <div *ngIf="promjenaBroja == true">
    <h3 class="heading">Promijenite broj telefona</h3>
    <form>
      <div class="form-row">
        <label for="novi-broj">Novi broj telefona:</label>
        <input [(ngModel)]="txtNoviBroj" type="text" id="novi-broj" name="novi-broj" required>
      </div>
      <div class="form-row">
        <button (click)="PromijeniBrojTelefona()" class="btn btn-primary form-control">Promijenite broj telefona</button>
      </div>
    </form>
  </div>
  <div *ngIf="promjenaLozinke == true">
    <h3 class="heading">Promijenite lozinku</h3>
    <form class="password-form">
      <div class="form-row">
        <label for="trenutna-lozinka">Trenutna lozinka:</label>
        <input [(ngModel)]="txtTrenutnaLozinka" type="password" id="trenutna-lozinka" name="trenutna-lozinka" required>
      </div>
      <div class="form-row">
        <label for="nova-lozinka">Nova lozinka:</label>
        <input [(ngModel)]="txtNovaLozinka" type="password" id="nova-lozinka" name="nova-lozinka" required>
      </div>
      <div class="form-row">
        <label for="potvrda-lozinke">Potvrdite lozinku:</label>
        <input [(ngModel)]="txtNovaPotvrdaLozinka" type="password" id="potvrda-lozinke" name="potvrda-lozinke" required>
      </div>
      <div class="form-row">
        <button (click)="PromijeniLozinku()" class="btn btn-primary form-control">Promijenite lozinku</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
