body {
  margin: 0;
  padding: 20px;
  background-color: #1a1a1a;
  color: #ffffff;
}

.container {
  background-color: #292929;
  border: 1px solid #444;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2.heading, h3.heading {
  color: #ffffff;
}

input {
  background-color: #777;
  color: #ffffff;
}

input[type="file"].form-control {
  background-color: gray;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #333;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}

.details {
  margin-bottom: 20px;
  text-align: left;
}

.details p {
  color: #999;
  margin-bottom: 10px;
}

.detail-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #444;
}

.detail-label {
  color: #999;
  flex: 0 0 120px;
  margin-right: 10px;
}

.detail-value {
  display: flex;
  align-items: center;
}

.detail-value span {
  margin-right: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.edit-button {
  padding: 6px 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.btn-primary.form-control {
  background-color: #007bff;
  color: #ffffff;
}

.edit-button:hover,
.btn-primary.form-control:hover {
  background-color: #0056b3;
}

.password-form {
  margin-bottom: 40px;
}

.form-row {
  margin-bottom: 20px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

form.password-form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #999;
}

.slika {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

