<!--<br> <h3 style="font-weight: bold">Detalji linija sa presjedanjem</h3>
<div>
  <h5>Polazište: {{this.linijaPodaci1.grad1}}</h5>
  <h5>Presjedanje: {{this.linijaPodaci1.presjedanje}}</h5>
  <h5>Destinacija: {{this.linijaPodaci1.grad2}}</h5>
  <h5>Prevoznik: {{this.linijaPodaci1.prevoznik.naziv}}</h5>
  <h5>Vrijeme polaska: {{this.linijaPodaci1.polazakSati}}:{{this.linijaPodaci1.polazakMinute}}</h5>
  <h5>Vrijeme dolaska: {{this.linijaPodaci1.dolazakSati}}:{{this.linijaPodaci1.dolazakMinute}}</h5>
  <h5>Kilometraža: {{this.linijaPodaci1.kilometraza}} km</h5>
  <h5>Trajanje: {{this.linijaPodaci1.trajanje}} min</h5>
  <h5>Cijena: {{this.linijaPodaci1.cijena}} KM</h5>
</div>
<br>
<div>
  <h5>Polazište: {{this.linijaPodaci2.grad1}}</h5>
  <h5>Presjedanje: {{this.linijaPodaci2.presjedanje}}</h5>
  <h5>Destinacija: {{this.linijaPodaci2.grad2}}</h5>
  <h5>Prevoznik: {{this.linijaPodaci2.prevoznik.naziv}}</h5>
  <h5>Vrijeme polaska: {{this.linijaPodaci2.polazakSati}}:{{this.linijaPodaci2.polazakMinute}}</h5>
  <h5>Vrijeme dolaska: {{this.linijaPodaci2.dolazakSati}}:{{this.linijaPodaci2.dolazakMinute}}</h5>
  <h5>Kilometraža: {{this.linijaPodaci2.kilometraza}} km</h5>
  <h5>Trajanje: {{this.linijaPodaci2.trajanje}} min</h5>
  <h5>Cijena: {{this.linijaPodaci2.cijena}} KM</h5>
</div>
<br>
<div>
  <h4>Ukupno:</h4>
  <h5>Kilometraža: {{this.linijaPodaci1.kilometraza + this.linijaPodaci2.kilometraza}} km</h5>
  <h5>Trajanje: {{this.linijaPodaci1.trajanje + this.linijaPodaci2.trajanje}} min</h5>
  <h5>Cijena: {{this.linijaPodaci1.cijena + this.linijaPodaci2.cijena}} KM</h5>
  <table id="tabela" style="font-size: large; opacity: 1;" class="table table-warning">
    <tr>
      <th>Linija</th>
      <th>Ponedjeljak</th>
      <th>Utorak</th>
      <th>Srijeda</th>
      <th>Četvrtak</th>
      <th>Petak</th>
      <th>Subota</th>
      <th>Nedjelja</th>
    </tr>
    <tbody>
    <tr>
      <td>{{this.linijaPodaci1.grad1}} - {{this.linijaPodaci1.grad2}}</td>
      <td>{{this.linijaPodaci1.daniVoznje.ponedjeljak == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci1.daniVoznje.utorak == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci1.daniVoznje.srijeda == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci1.daniVoznje.cetvrtak == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci1.daniVoznje.petak == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci1.daniVoznje.subota == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci1.daniVoznje.nedjelja == true ? "Da":"Ne"}}</td>
    </tr>
    <tr>
      <td>{{this.linijaPodaci2.grad1}} - {{this.linijaPodaci2.grad2}}</td>
      <td>{{this.linijaPodaci2.daniVoznje.ponedjeljak == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci2.daniVoznje.utorak == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci2.daniVoznje.srijeda == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci2.daniVoznje.cetvrtak == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci2.daniVoznje.petak == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci2.daniVoznje.subota == true ? "Da":"Ne"}}</td>
      <td>{{this.linijaPodaci2.daniVoznje.nedjelja == true ? "Da":"Ne"}}</td>
    </tr>
    </tbody>
  </table>
</div>
-->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-3">Detalji linije 1</h2>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Polazište</h5>
          <p class="card-text">{{this.linijaPodaci1.grad1}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Presjedanje</h5>
          <p class="card-text">{{this.linijaPodaci1.presjedanje}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Destinacija</h5>
          <p class="card-text">{{this.linijaPodaci1.grad2}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Prevoznik</h5>
          <p class="card-text">{{this.linijaPodaci1.prevoznik.naziv}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vrijeme polaska</h5>
          <p class="card-text">{{linijaPodaci1.polazakSati.toString().padStart(2, '0')}}:{{linijaPodaci1.polazakMinute.toString().padStart(2, '0')}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vrijeme dolaska</h5>
          <p class="card-text">{{linijaPodaci1.dolazakSati.toString().padStart(2, '0')}}:{{linijaPodaci1.dolazakMinute.toString().padStart(2, '0')}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Kilometraza</h5>
          <p class="card-text">{{this.linijaPodaci1.kilometraza}} km</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Trajanje</h5>
          <p class="card-text">{{this.linijaPodaci1.trajanje}} min</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Cijena</h5>
          <p class="card-text">{{this.linijaPodaci1.cijena}} KM</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="mb-3">Detalji linije 2</h2>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Polazište</h5>
          <p class="card-text">{{this.linijaPodaci2.grad1}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Presjedanje</h5>
          <p class="card-text">{{this.linijaPodaci2.presjedanje}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Destinacija</h5>
          <p class="card-text">{{this.linijaPodaci2.grad2}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Prevoznik</h5>
          <p class="card-text">{{this.linijaPodaci2.prevoznik.naziv}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vrijeme polaska</h5>
          <p class="card-text">{{linijaPodaci2.polazakSati.toString().padStart(2, '0')}}:{{linijaPodaci2.polazakMinute.toString().padStart(2, '0')}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vrijeme dolaska</h5>
          <p class="card-text">{{linijaPodaci2.dolazakSati.toString().padStart(2, '0')}}:{{linijaPodaci2.dolazakMinute.toString().padStart(2, '0')}}</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Kilometraza</h5>
          <p class="card-text">{{this.linijaPodaci2.kilometraza}} km</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Trajanje</h5>
          <p class="card-text">{{this.linijaPodaci2.trajanje}} min</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Cijena</h5>
          <p class="card-text">{{this.linijaPodaci2.cijena}} KM</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="mb-3">Ukupno: </h2>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Kilometraža</h5>
          <p class="card-text">{{this.linijaPodaci1.kilometraza + this.linijaPodaci2.kilometraza}} km</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Trajanje</h5>
          <p class="card-text">{{this.linijaPodaci1.trajanje + this.linijaPodaci2.trajanje + this.cekanjePresjedanja}} min</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vrijeme čekanja između presjedanja</h5>
          <p class="card-text">{{this.cekanjePresjedanja}} min</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Cijena</h5>
          <p class="card-text">{{this.linijaPodaci1.cijena + this.linijaPodaci2.cijena}} KM</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Dostupni dani vožnje</h5>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Linija</th>
              <th>Pon</th>
              <th>Uto</th>
              <th>Sri</th>
              <th>Čet</th>
              <th>Pet</th>
              <th>Sub</th>
              <th>Ned</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{this.linijaPodaci1.grad1}} - {{this.linijaPodaci1.grad2}}</td>
              <td>{{this.linijaPodaci1.daniVoznje.ponedjeljak ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci1.daniVoznje.utorak ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci1.daniVoznje.srijeda ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci1.daniVoznje.cetvrtak ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci1.daniVoznje.petak ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci1.daniVoznje.subota ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci1.daniVoznje.nedjelja ? "Da" : "Ne"}}</td>
            </tr>
            <tr>
              <td>{{this.linijaPodaci2.grad1}} - {{this.linijaPodaci2.grad2}}</td>
              <td>{{this.linijaPodaci2.daniVoznje.ponedjeljak ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci2.daniVoznje.utorak ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci2.daniVoznje.srijeda ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci2.daniVoznje.cetvrtak ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci2.daniVoznje.petak ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci2.daniVoznje.subota ? "Da" : "Ne"}}</td>
              <td>{{this.linijaPodaci2.daniVoznje.nedjelja ? "Da" : "Ne"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
